
/*Red: #cd183b  */

/*------------------------------------------------/
/* MISC CODES */

.whiteTXT{
  color: #ffffff;
}

.redTXT{
  color:  #cd183b;
}

.noPadding{
  padding: 0px;
}

.vertical-center {
    min-height: 80%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.vh{
  height: 100vh;
}

p{
  margin: 0;
}

@font-face {
font-family: "Steelfish-online";
src: url("../fonts/steelfishrg-webfont.eot");
src:
url("../fonts/steelfishrg-webfont.woff") format("woff"),
url("../fonts/steelfishrg-webfont.svg") format("svg"),
url("../fonts/steelfishrg-webfont.ttf") format("true type"),
url("../fonts/steelfishrg-webfont.woff2") format("woff2");
}

@font-face {
font-family: "garamond-online";
src: url("../fonts/ebgaramond-regular-webfont.eot");
src:
url("../fonts/ebgaramond-regular-webfont.woff") format("woff"),
url("../fonts/ebgaramond-regular-webfont.svg") format("svg"),
url("../fonts/EBGaramond-Regular.ttf") format("true type");
}

body{
  font-family: 'Steelfish-online', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: 'Steelfish-online', 'Arial Narrow', Arial, sans-serif;
}

p, q{
  font-family: "garamond-online";
  font-size: 18px;
}

h2{
  margin-bottom: 20px;
  font-size: 35px;
  letter-spacing: 1px;
}

h3{
  font-size: 24px;
}

button{
  background-color: #cd183b ;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 20px;
}

.middle-area{
    margin-top: 80px;
}



/*-------------------------------------------------------/
/* NAV BAR */

/* remove spacing at bottom */
nav.navbar.navbar-inverse{
  margin-bottom: 0px;
}

nav{
  margin-bottom: 20px;
}
/*span bars */
.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #ffffff;
}

/*icon box*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: transparent;
}

.navbar-inverse .navbar-toggle{
  border-color: transparent;
}

.transparentNav{
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}

.redNav{
  background-color: #cd183b;
  border-color: #cd183b;
}

  #brand{
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1px;
  }

  #menu-main li a{
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 1px;

  }

  /*ul.nav.navbar-nav li a{
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 1px;
  }*/

  .active{
    color: #000000 !important;
  }

/*------------------------------------------------------------/
/* LANDING */

#landing{
  /*height: 100vh;*/
  background: url("../assets/sixhulahoop.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}

span{
  display: block;
}

.titleBox{
  margin-top: 15%;
  letter-spacing: 3px;
}

#title{
  margin: 0;
  text-align: center;
  font-size: 50px;
}



/*------------------------------------------------------------/
/* ABOUT */

.aboutImageBlocks{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

#pastperformances{
  padding-top: 60px;
  padding-bottom: 60px;
}

#aboutme{
  padding-top: 60px;
  padding-bottom: 60px;
}

.flexContain{
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 100%;
}

.boxB{
  order: 1;
}

.boxA{
  order: 2;
}

/*------------------------------------------------------------/
/* CONTACT */

#review{
  background-color: #cd183b;
}

#reviews{
  padding-top: 60px;
  padding-bottom: 60px;
}

#contact{
  padding-top: 60px;
  padding-bottom: 60px;
}

form{
  margin: auto;
  font-size: 18px;
  letter-spacing: 1px;
}

input{
  width: 100%;
  height:auto;
  margin-bottom: 2.5%;
  height: 30px;
  padding-left: 20px;
  background-color: #cd183b;
  color: #ffffff;
  letter-spacing: 1px;
  font-family:"garamond-online";
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}


textarea{
  width: 100%;
  margin-bottom: 2.5%;
  padding-left: 20px;
  background-color: #cd183b;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: "garamond-online";
}

.submit{
  width: 110px;
  height: 28px;
  background-color: #cd183b;
  color: #ffffff;
}

button.btn.btn-default {
  background-color: #cd183b;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 1px;
}


/*------------------------------------------------------------/
/* services */

#heroImg img{
  height: 60vh;
  object-fit: cover;
  width: 100%;
}

#menu{
  padding-top: 60px;
  padding-bottom: 60px;
}

/*------------------------------------------------------------/
/* MEDIA */

#photos{
  margin-top: 20px;
}

#vidContain{
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  margin-bottom: 20px;
}

.video{
  position: absolute;
  height: 100%;
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #cd183b;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

row:after {
  content: "";
  display: table;
  clear: both;
}

/* the close button */
.close {
  color: white;
  top: 10px;
  right: 25px;
  font-size: 18px;
  font-weight: bold;
}

/* next and prev button */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}



/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*------------------------------------------------------------/
/* BLOG */
.sidebar{
  background: #cd183b ;
  padding: 20px;
  margin: 0 0 30px;
}

.sidebar h2{
  color: #fff;
}

.sidebar ul{
  list-style-type: none;
}

.sidebar ul a{
  font-size: 16px;
  color: #fff;
  font-family: "garamond-online";
}

.cat-item a{
  color: #fff;
}

.blog-page article{
  display: inline-block;
  width: 100%;
  border: 6px double #D0D0D0;
  margin-bottom: 30px;
  background: #fff;
}

.wp-post-image{
  float: left;
  height: auto;
  width: 100%;
}

.format-image h2 { color: #fff; background: #cd183b; padding: 10px; margin: 0px;}
.format-video h2 { color: #fff; background: #cd183b; padding: 10px; margin: 0px; }
.format-standard h2 { color: #fff ; background: #cd183b ; padding: 10px; margin: 0px; }

.format-video iframe, .format-video video {width: 100%; max-width: 100%;}

.pagination a{
  color: #000000;
  font-size: 24px;
}


/*------------------------------------------------------------/
/* FOOTER */

#footerA{
  background: #cd183b;
  padding-top: 30px;
  padding-bottom: 30px;
}

#footerB{
  background: #000000;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social{

  height: 40px;
  width: 40px;
}

/*----------------------------------------------------------/
/* TABLETS */
@media screen and (min-width: 480px){

  /*NAV*/
#menu-main{
    float: right;
  }

  /*LANDING*/
  .titleBox{
    margin-top: 16%;
  }

  #title{
    font-size: 60px
  }


  /*CONTACT*/
  input{
    width: 47.5%;
  }

  .L{
    margin-right: 2.5%;
  }

  textarea{
    width: 98%;
  }

  /*FOOTER */
  .social{
    height: 60px;
    width: 60px;
  }

  /* MEDIA */
  .modal {
    padding-top: 30%;
  }

  .close {
    font-size: 30px;
  }

/*------------------------------------------------------/
/* Desktop */
@media only screen and (min-width: 780px){

p{
  font-size: 18px;
}
/*LANDING*/

  #landing{
    background-position: 13% 96%;
  }

  span{
    display: inline-block;
  }

  .titleBox{
    margin-top: 0;
    letter-spacing: 3px;
    min-height: 80%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  #titleA{
    text-align: left;
    margin-left: 10%;
  }

  #titleB{
    text-align: right;
    margin-right: 9%;
  }

  #title{
    font-size: 65px;
  }

  h2{
    font-size: 50px;
  }

  /* ABOUT */
  #pastperformances{

    padding-top: 80px;
  }

  #aboutme{
    padding-top: 80px;
  }

  .box{
    width: 50%;
  }

  .boxB{
    order: 2;
  }

  .boxA{
    order: 1;
  }

  /*SERVICES*/
  #heroImg img{
    height: 70vh;
  }

  /* MEDIA */
  .modal {
    padding-top: 10%;
  }

  .close {
    font-size: 35px;
  }

}
/*-------------------------------------------------------/
/* IPAD PRO */
/*@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)*/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1024px)
and (min-device-height : 1366px) and (max-device-height : 1366px)
and (min-width: 1024px) and (max-width: 1024px)
{

  #landing{
    background-position: 49% 98% !important;
  }

  p{
    font-size: 14px;
  }

  #pastperformances{
    padding: 30px;
  }

  #aboutme{
    padding: 5px;

  }

  /* ABOUT */
  .box{
    height: 30vh;
  }

  .box img{
    height: 100%;
  }

  /* SERVICES */
  #heroImg img{
    height: 50vh;

  }

  /* MEDIA */
  .modal {
    padding-top: 30%;
  }
}
